// reset brosers default values
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 1rem;
}

h1 {
  color: dodgerblue
}

.person__list {
  display: grid;
  flex-wrap: wrap;
  list-style-type: none;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 1rem;
}

.person__title {
  padding: 1rem 0;
}

.person__card {
  border-radius: 1rem;
  padding: 1rem;
  flex: 1 0 45%;
  border: 1px solid lightsteelblue;
  background-color: lightgoldenrodyellow;
}

@media (min-width: 768px) {
  // tablet
  .person__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1280px) {
  // desktop
  .person__list {
    grid-template-columns: repeat(3, 1fr);
  }
}