doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Space Shuttle
    meta(
      name="description"
      content="One day, we'll be able to travel to Mars"
    )
  body
    h1 People Flying to Mars
    p Let me introduce to you the very first people to have the honour to travel to Mars.